.nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 15%;
    background-color: #1b262c;

    a, .navLink {
        text-decoration: none;
        color: #fff;
        padding: 10px;
        display: table-cell;
        vertical-align: middle;
    }

    a:hover, .navLink:hover {
        background-color: lighten($color: #1b262c, $amount: 10%);
        cursor: pointer;
    }

    a.active, a.active:hover {
        background-color: #e5e5e5;
        color: #000;
    }
    
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  align-items: center;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  text-decoration: none;
  height: 100%;
  display: table;
}
  
.user-profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile-info {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    display: flex;
    align-items: center;
    color: #fff;
    margin-right: 20px;
    height: 100%;
}